.image{
  width: 100%;
}

.mainImg{
  /*border:4px solid blue;*/
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;

}


.page-nav .hamburger {
  border: 0;
  background: 0;
  position: absolute;
  right: 14px;
  top: 18px;
}
.page-nav .hamburger .hamburger-icon {
  fill: white;
  width: 18px;
  height: 6px;
}

.page-nav .hamburger .close-icon {
  fill: white;
  width: 14px;
  display: none;
}

.page-header{
  width: 100%;
  background-color: #313233;
  /*background: url("https://uam-my.sharepoint.com/personal/barszu3_st_amu_edu_pl/_layouts/15/guestaccess.aspx?docid=1e3ff9bb317d3464ea161699c5eb3fa61&authkey=ARzss_EJhMncwYZiUcUNjv0&e=b325aeeb535e417fb7789fa9d7e3f324");*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: none;

  width: 100%;
  text-align: center;
}

.page-nav .navigation-menu li {
  border-bottom: 1px solid #F5F7F8;

  padding-top: 15px;
  padding-bottom: 15px;
}

.page-nav .navigation-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.page-nav .navigation-menu li.sign-up {
  border: 0;
}

.page-nav .navigation-menu li.sign-up a{
  border: 2px solid #D3D3D3 ;
  border-radius: 25px;

  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-header.nav-opened {
  background: black;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
}

.page-header.nav-opened .page-logo {
  fill: #000000;
}

.page-header.nav-opened .page-nav .hamburger {
  fill: #000000;
}

.page-header.nav-opened .page-nav .hamburger .hamburger-icon {
  display: none;
}

.page-header.nav-opened .page-nav .hamburger .close-icon {
  display: inline-block;
}

.page-header.nav-opened .navigation-menu {
  display: block;
}


@media (min-width: 950px) {
  .page-nav {
    position: absolute;
    top: 8px;
    right: 20px;
  }
  .page-nav .hamburger{
    display: none;
  }
  .page-nav .navigation-menu{
    display: block;
  }
  .page-nav .navigation-menu li{
    display: inline-block;
    margin-right: 40px;
    border: 0;
  }
  .page-nav .navigation-menu li:last-child {
    margin: 0;
  }

}

@media (max-width: 1217px) {
  .page-nav .navigation-menu li{
    /*display: inline-block;*/
    margin-right: 20px;
    border: 0;
  }


}
@media (max-width: 420px) {

  .page-header a img{
    width: 90%;
  }
  .page-nav .hamburger{
    border: 0;
    background: 0;
    position: absolute;
    right: 4px;
    top: 6px;
  }

}
