<header class="page-header">
  <a routerLink="/main" routerLinkActive="active" title="Przejdź do strony głównej">

    <img src="https://uam-my.sharepoint.com/personal/barszu3_st_amu_edu_pl/_layouts/15/guestaccess.aspx?docid=1809f9c4f88b64feda7f9dbbaad4c4a63&authkey=ASHeRcpbFoPGfuMxhrfc1Sc">
  </a>
  <nav class="page-nav">
    <ul class="navigation-menu">
      <li><a routerLink="/main" routerLinkActive="active" title="">Strona główna</a></li>
      <li><a routerLink="/about-firm" routerLinkActive="active" title="">O firmie</a></li>
      <li><a routerLink="/offer" routerLinkActive="active" title="Przegląd samochodów">Oferta</a></li>
      <li><a routerLink="/terms" routerLinkActive="active" title="Warunki wynajmu samochodu">Warunki wynajmu</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" title="Kontakt do firmy">Kontakt</a></li>
      <li class="sign-up"><a routerLink="/login" routerLinkActive="active" title="Zaloguj się">Zaloguj</a></li>
      <li class="sign-up"><a routerLink="/register" routerLinkActive="active" title="Zarejestruj się">Rejestracja</a></li>
    </ul>
    <button class="hamburger" title="Open menu" aria-label="navigation menu">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="35" height="12" viewBox="0 0 35 12" class="hamburger-icon">
        <path d="M-0.000,12.000 L-0.000,8.000 L35.000,8.000 L35.000,12.000 L-0.000,12.000 ZM-0.000,0.000 L35.000,0.000 L35.000,4.000 L-0.000,4.000 L-0.000,0.000 Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="28.312" height="27.594" viewBox="0 0 28.312 27.594" class="close-icon">
        <path d="M28.298,2.831 L16.984,14.145 L27.591,24.751 L24.763,27.580 L14.156,16.973 L3.549,27.580 L0.721,24.751 L11.328,14.145 L0.014,2.831 L2.842,0.003 L14.156,11.316 L25.470,0.003 L28.298,2.831 Z"/>
      </svg>
    </button>
  </nav>
</header>
<router-outlet></router-outlet>
