
<div class="main">
    <div class="main__text">Poznaj naszą ofertę</div>
    <div class="main__cars">
        <div class="main__cars__filters"><app-filter></app-filter></div>
        <div class="main__cars__list">
            <div *ngIf="carService.activeFilters">
                <app-carc *ngFor="let car of carService.filteredCars" [car]="car"></app-carc>
            </div>
            <div *ngIf="!carService.activeFilters">
                <app-carc *ngFor="let car of carService.cars" [car]="car"></app-carc>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
