<div class="cars">
  <mat-card class="car-card">

    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>directions_car</mat-icon>
      </div>
      <mat-card-title>
        <div class="title">
          <span>Meet our offer!</span>
        </div>
      </mat-card-title>
      <mat-card-subtitle>Checkout our cars!</mat-card-subtitle>
    </mat-card-header>

    <div class="main-content">
      <div class="add-button">
        <button mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/addcar" routerLinkActive="active">Add
          new car!
        </button>
      </div>
      <div class="main__cars__filters">
        <app-filter></app-filter>
      </div>

      <div class="car-list-mobile">
        <mat-grid-list cols="1" rowHeight="290px">
          <div *ngIf="carService.activeFilters">
            <mat-grid-tile *ngFor="let car of carService.filteredCars">
              <app-carc [car]="car"></app-carc>
            </mat-grid-tile>
          </div>
          <div *ngIf="!carService.activeFilters">
            <mat-grid-tile *ngFor="let car of carService.cars">
              <app-carc [car]="car"></app-carc>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>

      <div class="car-list-full">
        <mat-grid-list cols="3" rowHeight="290px">
          <div *ngIf="carService.activeFilters">
            <mat-grid-tile *ngFor="let car of carService.filteredCars">
              <app-carc [car]="car"></app-carc>
            </mat-grid-tile>
          </div>
          <div *ngIf="!carService.activeFilters">
            <mat-grid-tile *ngFor="let car of carService.cars">
              <app-carc [car]="car"></app-carc>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>

    </div>


    <router-outlet></router-outlet>

  </mat-card>
</div>
