@import "../../../variables";

@media only screen and (min-device-width: 320px) {
  .cars {
    width: 100%;
    margin: auto;
    padding: 1px;
    flex-direction: column;
  }

  .main__cars__filters {
    width: 100%;
    margin: auto;
    padding: 1px;
  }

  .car-list-mobile {
    width: 100%;
    margin: auto;
    padding: 1px;
  }
  .car-list-full {
    display: none;
  }

  .car__img {
    width: 390px;
    height: 260px;
  }
}

@media only screen and (min-width: 1224px) {
  .cars {
    width: 100%;
    margin: auto;
    padding: 15px;
    flex-direction: column;
  }

  .main__cars__filters {
    width: 80%;
    margin: auto;
    padding: 15px;
  }

  .car-list-full {
    width: 80%;
    margin: auto;
    padding: 15px;
    display: inline;
  }
  .car-list-mobile {
    display: none;
  }

  .car__img {
    width: 390px;
    height: 260px;
  }

  .add-button {
    text-align: right;
  }
}





