<footer class="page-footer">
  <ul class="navigation-menu">
    <li><a routerLink="/about-firm" routerLinkActive="active" title="O firmie">O firmie</a></li>
    <li><a routerLink="/offert" routerLinkActive="active" title="Przegląd samochodów">Oferta</a></li>
    <li><a routerLink="/terms" routerLinkActive="active" title="Warunki wynajmu samochodu">Warunki wynajmu</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" title="Kontakt do firmy">Kontakt</a></li>
    <li><a routerLink="/login" routerLinkActive="active" title="Logowanie">Logowanie</a></li>
    <li><a routerLink="/register" routerLinkActive="active" title="Rejestracja">Rejestracja</a></li>
  </ul>
</footer>
