<app-header></app-header>


<div id="main" class="container-fluid">
  <mat-sidenav-container class="example-container">


    <mat-sidenav mode="push" #sidenav class="example-sidenav">
      <div class="side-content">
        <div *ngIf="!isUserLogged()" class="mat-content">
          <button mat-button routerLink="/login" (click)="sidenav.close()"
                  routerLinkActive="active" title="Logowanie">Logowanie
          </button>
        </div>

        <div *ngIf="!isUserLogged()" class="mat-content">
          <button mat-button routerLink="/register" (click)="sidenav.close()"
                  routerLinkActive="active" title="Logowanie">Rejestracja
          </button>
        </div>

        <div *ngIf="isUserLogged()" class="mat-content">
          <button mat-button routerLink="/me" (click)="sidenav.close()" routerLinkActive="active"
                  title="Logowanie">Profile
          </button>
        </div>

        <div *ngIf="isUserLogged() && isAdmin()" class="mat-content">
          <button mat-button routerLink="/admin" (click)="sidenav.close()" routerLinkActive="active"
                  title="admin">Admin
          </button>
        </div>

        <div *ngIf="isUserLogged() && !isAdmin()" class="mat-content">
          <button mat-button routerLink="/me/rents" (click)="sidenav.close()" routerLinkActive="active"
                  title="rents">Rents
          </button>
        </div>

        <div>
          <button mat-button class="bt" (click)="sidenav.close()" routerLink="/about-firm"
                  routerLinkActive="active" title="O firmie">O firmie
          </button>
        </div>
        <div>
          <button mat-button routerLink="/offer" (click)="sidenav.close()"
                  routerLinkActive="active" title="Przegląd samochodów">
            Oferta
          </button>
        </div>
        <div>
          <button mat-button routerLink="/terms" (click)="sidenav.close()"
                  routerLinkActive="active"
                  title="Warunki wynajmu samochodu">Warunki
          </button>
        </div>
        <div>
          <button mat-button routerLink="/contact" (click)="sidenav.close()"
                  routerLinkActive="active" title="Kontakt do firmy">
            Kontakt
          </button>
        </div>
      </div>
    </mat-sidenav>


    <router-outlet></router-outlet>
    <div #openSide (click)="sidenav.toggle()"></div>

  </mat-sidenav-container>

</div>

<app-footer></app-footer>

