<!doctype html>
<html>
  <body>
     <div class="register">
       <br>
       <h3>Rejestracja nowego użytkownika</h3>

       <form ng-submit="formSubmit()" class="form">
         <div class="register-inside">
           <div class="form-group">
             <input id="email1" type="text" class="form-control" #emailBox placeholder="email" required=""/>
           </div>

           <div class="form-group">
             <input type="password" class="form-control" #passBox placeholder="password" required=""/>
           </div>

           <div class="form-group">
             <input type="password" class="form-control" #repeatBox placeholder="password" required/>
             <div *ngIf="passBox.value!=repeatBox.value">Password doesn't match</div>
           </div>

           <div class="form-group">
             <button type="submit" class="btn btn-success"
                     routerLink="/login" routerLinkActive="active"
                     (click)="registerUser(emailBox.value, passBox.value, repeatBox.value)">Zarejestruj się
             </button>
           </div>
           <div class="login"><a routerLink="/login" routerLinkActive="active" title="Zaloguj się">Powrót do
             logowania</a></div>
         </div>
       </form>
       <br>
     </div>
  </body>
</html>
