
<ul class="mainContact">
  <li class='contact'>
    <h1>KONTAKT</h1>
    <h2>Dane firmy</h2>
    <p>Szukałex Sp. z o.o. <br>
      ul. SzukałyCoByłZaSprytny <br>
      60-203 Poznań <br>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      komis.team.komis@gmail.com<br>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:697 967 570">697 967 570</a>
    </p>
    <p>NIP: 524-55-21-852 <br>
      Regon: 274652213</p>
    <p>
      KRS: 0000053124 <br>
      Sąd Rejonowy w Poznaniu <br>
      Kapitał zakładowy 1 500 000,00 złotych.
    </p>
    <p>
      Rachunek bankowy: 54 1420 0105 0000 4760 2467 5117 prowadzony w Alior Bank SA
  </li>

</ul>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.6551826467135!2d16.925071315658297!3d52.46727197980423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47044325a4f6681b%3A0x5ec2f670808f7183!2sWydzia%C5%82+Matematyki+i+Informatyki+UAM!5e0!3m2!1spl!2spl!4v1509451046224"
  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

