<div class="order">
    <div class="order__imgCont">
        <img class="order__img" src="{{car.resizedImg}}">
    </div>
    <div class="order__carInfo">
        <div class="order__carInfo__title">{{ car.brand | brand }} {{ car.model }}
            <!--<span class="order__carInfo__title&#45;&#45;type">{{ car.category }}</span> -->
        </div>
        <div class="order__carInfo__desc">
            Od: {{ order.from }}
        </div>
        <div class="order__carInfo__descCont">
            <div class="order__carInfo__desc">Do: {{ order.to }}</div>
        </div>
    </div>
    <div class="order__rightBlock">
        <div class="order__price">
            <div class="order__priceNumber"> {{ order.totalPrice }}zł</div>
        </div>
        <div *ngIf="order.willBeActive" class="order__cancel">
            <button ion-button color="danger" class="order__btn" (click)="cancelOrder()">Anuluj</button>
        </div>
        <div *ngIf="order.active" class="order__cancel">
            <button disabled ion-button color="secondary" class="order__btn">Trwa</button>
        </div>
        <div *ngIf="!order.active && !order.willBeActive" class="order__cancel">
            <button disabled ion-button color="light" class="order__btn">Zakończone</button>
        </div>
    </div>

</div>