<p>
  TU BĘDZIEEEEEEEEEEEEEEEEEEEEEE oFFERTAAAAAAAAAAAAAA!!!!!!!!!!!!!!
  >Menu z podziałem na kategorie
  >Wyszukiwarka
  >Filtrowanie
  >Komponent wyświetlania FURRRR
</p>
<!--<select style="padding: 3px 3px" class="form-control" ng-model="carService.cars" ng-options="carService.cars.name for Car in carService.cars">-->
  <!--<option value="">SELECT</option>-->
<!--</select>-->
<!--<input type="text" [(ngModel)]="text">-->
<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SEDAN')">Sedan</button>
<button type="button" class="btn red darken-1" (click)="getCarsByCategory('CITY')">City</button>
<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SPORT')">Sport</button>
<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SUV')">Suv</button>
<app-category-menu></app-category-menu>
<!--<app-gallery></app-gallery>-->
<article class="gallery">
  <li *ngFor="let car of carService.cars; let i=index" class="mainImg" >
    <div>
      <p class="zamow">
        {{brandService.brands[car.brand-1].name}} {{car.model}}<br>
        {{car.price}} zł/dzień</p>

      <a  [routerLink]="['/car', car.id]" routerLinkActive="active" title="Specyfikacja auta">

        <img class="img" src="{{car.defaultCarPhoto.photoUrl}}">
      </a></div>
    <div>
      <article class="imgMenu">
        <p>{{car.brand}} {{car.model}}<br>
          {{car.price}} zł/dzień</p>
      </article></div>
  </li>
</article>

