.login
{
  width: auto;
  height: 600px; /*wysokość na całą stonę - footer do ustawienie */
  position: relative;
}

.register-inside
{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.form-group
{
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.login
{
  text-align: center;
}

h3
{
  text-align: center;
}


/*CSS do poprawy?*/
