<div class="register" *ngIf="!isUserPresent()">


  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>account_box</mat-icon>
      </div>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <br>
    <h3>Rejestracja nowego użytkownika</h3>

    <div class="register-inside">

      <form [formGroup]="registerForm" class="form">
        <div class="form-group">
          <mat-form-field>
            <input id="email" matInput placeholder="email" type="text" class="form-control" formControlName="email"
                   required=""/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input id="name" type="text" matInput placeholder="name" class="form-control" formControlName="name"
                   required=""/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input id="city" type="text" matInput placeholder="city" class="form-control" formControlName="city"
                   required=""/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input type="password" matInput placeholder="password" class="form-control" formControlName="password"
                   required=""/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input type="password" matInput placeholder="repeat password" class="form-control"
                   formControlName="repeatPass" required/>
            <mat-error *ngIf="!isRepeatPasswordValid()">Repeate password doesn't match!</mat-error>
          </mat-form-field>
        </div>
      </form>
      <br>
      <div class="buttons">
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!this.registerForm.valid"
                  routerLink="/login"
                  routerLinkActive="active" (click)="registerUser()">Zarejestruj się
          </button>
        </div>
        <br>
        <div></div>
        <div>
          <button mat-button routerLink="/login" routerLinkActive="active" title="Zaloguj się">Powrót do
            logowania
          </button>
        </div>
      </div>

    </div>

  </mat-card>
</div>
