.register {
  width: 100%;
  margin: auto;
  padding: 15px;
  flex-direction: column;

  .user-card {
    display: flex;
    margin: auto;

    flex-direction: column;

    .register-inside {
      flex-direction: column;
      text-align: center;
      margin: auto;

      .form-group {
        text-align: center;
        display: flex;
        padding: 5px;
      }

      .buttons {
        padding: 10px;
        margin: 0 auto;

      }
    }
  }

}


h3
{
  text-align: center;
}


