<div class="ad">
    <div class="ad__imgCont">
        <img class="ad__img" src="{{car.imgPath}}">
        <!--<img class="ad__img" src="assets/images/a45.jpg">-->
    </div>
    <div class="ad__carInfo">
        <div class="ad__carInfo__title">{{ adService.brands[car.brand] }} {{ car.model }} <span class="ad__carInfo__title--type">{{ car.category }}</span> </div>
        <div class="ad__carInfo__desc">
            <img class="ad__carInfo__fuelImg" src="assets/images/{{
                car.engine.fuel == 'PB' || car.engine.fuel == 'LPG'
                    ? 'pb'
                    : car.engine.fuel == 'DIESEL'
                        ? 'diesel'
                        : 'electric'
            }}.svg">
            {{ car.engine.fuel}}
        </div>
        <div class="ad__carInfo__descCont">
            <div class="ad__carInfo__desc">{{ car.engine.power}}KM</div>
            <div class="ad__carInfo__desc">{{ car.engine.drive}}</div>
        </div>
    </div>
    <div class="ad__price">{{ car.price }} zł/dzień</div>
</div>
