@font-face {
  font-family: "Roboto";
}

.page_wrapper {
   .scroll-content {
     padding-top: 56px;
   }
}

.invalid {
  color: #ff0000!important;
  &--input {
    border-bottom: solid 2px #ff0000;
  }
}

.failMsg {
  color: #ff0000;
}

.toastDflt {
  text-align: center;
}

.loader {
  position: absolute;
  left: 40%;
  top: 40%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
