<mat-form-field>
  <mat-select  [(ngModel)]="categoryType" name="categoryType" placeholder="Kategoria">
    <mat-option *ngFor="let category of categories" value="{{category}}">{{ category }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="brand" name="brand" placeholder="Marka">
    <mat-option *ngFor="let brand of brandService.brands" value="{{brand.id}}">
      {{ brand.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

defaultCarPhoto

<mat-form-field>
  <mat-select [(ngModel)]="fuelType" name="fuelType" placeholder="Paliwo">
    <mat-option *ngFor="let fuel of engine.fuelType" value="{{fuel}}">{{ fuel }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field >
  <mat-select [(ngModel)]="driveType" name="driveType" placeholder="Napęd">
    <mat-option *ngFor="let drive of engine.driveType" value="{{drive}}">{{ drive }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!--<div [formGroup]="formGroup">-->
  <!--<mat-checkbox [(ngModel)]="hasElectricWindow"  formControlName="hasElectricWindow">Elektryczne szyby</mat-checkbox>-->
  <!--<br>-->
  <!--<mat-checkbox [(ngModel)]="hasNavi"  formControlName="hasNavi">Navi</mat-checkbox>-->
  <!--<br>-->
  <!--<mat-checkbox [(ngModel)]="hasAirConditioning"  formControlName="hasAirConditioning">Klima</mat-checkbox>-->
  <!--<br>-->
  <!--<mat-checkbox [(ngModel)]="hasManualGearbox"  formControlName="hasManualGearbox">Manualna skrzynia</mat-checkbox>-->
  <!--<br>-->
  <!--<mat-checkbox [(ngModel)]="hasSunroof"  formControlName="hasSunroof">Szyberdach</mat-checkbox>-->
  <!--<br>-->
  <!--<mat-checkbox [(ngModel)]="hasRadio"  formControlName="hasRadio">Radio</mat-checkbox>-->
<!--</div>-->


