@import "../../../../variables";

@media only screen and (min-device-width: 320px) {

  .header {
  }

  .user-name {
    display: none;
  }

  .header-text-full {
    display: none;
  }

  .nav-button {
    padding: 1px;
  }

  .mat_header {
    color: #fff;
    height: 60px;
    background-color: $main;
  }

  .header__link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
  }
  .header__text {
    margin: auto 0;
    color: #fff !important;
  }

  .example-fill-remaining-space {
    flex: auto;
    display: flex;
  }

}

@media only screen and (min-width: 1224px) {
  .header-text-mobile {
    display: none;
  }

  .header-text-full {
    margin: auto 0;
    color: #fff !important;
    display: flex;
  }

  .header {
  }

  .mat_header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    color: #fff;
    height: 60px;
    background-color: $main;
    padding: 0 15px;
  }

  .user-name {
    display: inline;
  }

  .header__link {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

}



