<div class="terms">
  <ul>
    <li>Najemcą wypożyczanego samochodu może być osoba, która ukończyła 18 lat</li>
    <li>Posiada dwa aktualne dokumenty tożsamości: dowód osobisty lub paszport i ważne prawo jazdy</li>
    <li>Opłatę za najem pobieramy gotówką, przelewem lub kartą kredytową. Kaucja na karcie kredytowej, Możliwa jest również kaucja gotówkowa. Akceptujemy następujące karty kredytowe: VISA, MASTERCARD, AMERICAN EXPRESS</li>
    <li>Warunkiem wypożyczenia u nas samochodu jest wpłacenie opłaty za wynajem z góry za okres wypożyczenia wg stawki obowiązującej w dniu podpisania umowy</li>
    <li>Pojazd może być prowadzony tylko i wyłącznie przez osobę zgłoszoną na umowie i nie może być podnajmowany ani udostępniany innej osobie lub tez innej firmie</li>
    <li>Opuszczenie wypożyczonym samochodem granic RP bez pisemnej zgody firmy Car4Vip Sp. z o.o. jest zabronione</li>
    <li>Przedłużenie najmu pojazdu o jedną, dwie godziny spowodowane korkami lub innymi trudnościami losowymi z dojazdem nie powoduje naliczenia dodatkowych opłat, Zaś przekroczenie o ponad trzy godziny liczone jest jako dodatkowa doba</li>
    <li>W przypadku braku zwrotu pojazdu do trzech godzin po ustalonym terminie i nie poinformowania firmy Szukałex Sp. z o.o. będzie potraktowane jako próba przywłaszczenia samochodu i będzie to skutkowało powiadomieniem organów ścigania</li>
    <li>Autem wynajętym w Szukałex nie wolno holować innych pojazdów, przekraczać dozwolonej masy samochodu, ani palić tytoniu</li>
    <li>Podane ceny obejmują pełne ubezpieczenie ( AC, OC, NNW ) obowiązujące na terenie Unii Europejskiej</li>
    <li>Udziałem własnym Najemcy w ewentualnej szkodzie z własnej winny jest kaucja</li>
    <li>Opłaty ubezpieczeniowe nie obejmują szkód w następujących przypadkach:</li>
  </ul>
<p>-prowadzenia pojazdu bez zezwolenia wynajmującego</p>
<p>-ucieczka prowadzącego pojazd</p>
<p>-złożenia nieprawdziwego oświadczenia co do miejsca, czasu, okoliczności i przyczyn powstania szkody</p>
  <ul>
    <li>Opłaty ubezpieczeniowe nie obejmują kradzieży wynajmowanego samochodu w przypadku, gdy nie zostaną zwrócone WYNAJMUJACEMU kluczyki lub dokumenty wynajmowanego pojazdu. (Najemca wówczas zobowiązany jest do całkowitego pokrycia kosztów samochodu)</li>
    <li>Gdy uszkodzenie pojazdu wynikło z kolizji lub wypadku najemca jest zobowiązany do zawiadomienia policji i wynajmującego</li>
    <li>Najemca jest odpowiedzialny za szkody wynikłe ze złego użytkowania samochodu jak i zabezpieczania auta</li>
    <li>Auto do Państwa dyspozycji oddawane jest zawsze czyste, zadbane w pełni sprawne i w takim stanie powinno być nam zwrócone</li>
    <li>Najemca jest zobowiązany do zwrotu auta z taką samą ilością paliwa jaka spisana została w protokole, za ewentualne uzupełnienie stanu paliwa najemca jest zobowiązany do pokrycia kosztów tego paliwa według cennika</li>
    <li>Najemca jest zobowiązany własnym kosztem do sprawdzania stanu codziennego auta (płyny eksploatacyjne itp.) oraz zabezpieczenia auta przed kradzieżą (zamykanie auta, włączanie urządzeń antykradzieżowych, nie zostawianie w aucie dokumentów ani kluczyków)</li>
  </ul>
</div>
