.edit-car {
  width: 100%;
  margin: auto;
  padding: 15px;
  flex-direction: column;

  .edit-car-card {
    text-align: center;

  }
  .edit-car-image
  {
    padding: 15px;
    
    .edit-car-image-photo {
      height: 85%;
      width: 90%;
      margin: 0 auto;
      align-self: center;
      flex-direction: column;
    }
  }

}
