@media only screen and (min-device-width: 320px) {
  .photo {
    height: 85%;
    width: 90%;
    margin: 0 auto;
    align-self: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1224px){
  .photo {
    height: 260px;
    width: 390px;
    margin: 0 auto;
    align-self: center;
    flex-direction: column;
  }
}

.car-image
{
  padding: 15px;
}

.edit-car {
  width: 100%;
  margin: auto;
  padding: 15px;
  flex-direction: column;

  .edit-car-card {
    text-align: center;
  }

}
