<div *ngIf="isCarLoaded()"class="edit-car">

  <mat-card class="edit-car-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>directions_car</mat-icon>
      </div>
      <mat-card-title>Edit car!</mat-card-title>
    </mat-card-header>

    <div class="car-image">
      <img mat-card-image class="photo" src="{{car.defaultCarPhoto.photoUrl}}">
    </div>

<mat-chip color="primary" selected="true" matTooltip="Brand">{{car.engine.drive}}</mat-chip>

    <div class="input-field">
      <mat-form-field>
        <mat-select ngModel="{{car.categoryType}}" name="categoryType" placeholder="Category">
          <mat-option *ngFor="let category of categories" value="{{category}}">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select ngModel="{{car.brand}}" name="brand" placeholder="Brand">
          <mat-option *ngFor="let brand of brandService.brands" value="{{brand.id}}">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-field">
      <mat-form-field>
        <input matInput ngModel="{{car.model}}" name="model" placeholder="Model" >
      </mat-form-field>

      <mat-form-field>
        <mat-select ngModel="{{car.engine.fuel}}" name="fuelType" placeholder="Fuel" >
          <mat-option *ngFor="let fuel of fuelTypes" value="{{fuel}}">
            {{ fuel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-field">
      <mat-form-field>
        <mat-select ngModel="{{car.engine.drive}}" name="driveType" placeholder="Drive" >
          <mat-option *ngFor="let drive of driveTypes" value="{{drive}}">
            {{ drive }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput ngModel="{{car.engine.power}}" name="power" placeholder="Power [KM]">
        <div *ngIf="isPowerPopulated()">
          <mat-error *ngIf="!isPowerValid()">Power has to be bigger than 10 HP</mat-error>
        </div>
      </mat-form-field>
    </div>

    <div class="input-field">
      <mat-form-field>
        <input type="number" matInput ngModel="{{car.price}}" name="pricePerDay" placeholder="Price">
        <div *ngIf="isPricePopulated()">
          <mat-error *ngIf="!isPriceValid()">Price has to be bigger than 10zł</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput [(ngModel)]="car.year" name="year" placeholder="Year" >
        <div *ngIf="isYearPopulated()">
          <mat-error *ngIf="!isDateValid()">Year has to be grater than 1950 and smaller then current</mat-error>
        </div>
      </mat-form-field>
    </div>

    <section class="select-section">
      <mat-checkbox [(ngModel)]="car.hasElectricWindow">Electric windows</mat-checkbox>
      <mat-checkbox [(ngModel)]="car.hasNavi">Navi</mat-checkbox>
      <mat-checkbox [(ngModel)]="car.hasAirConditioning">Air conditioning</mat-checkbox>
      <mat-checkbox [(ngModel)]="car.hasManualGearbox">Automatic gearbox</mat-checkbox>
      <mat-checkbox [(ngModel)]="car.hasSunroof">Sunroof</mat-checkbox>
      <mat-checkbox [(ngModel)]="car.hasRadio">Radio</mat-checkbox>
    </section>
    <div><br></div>
    <input type="file" (change)="fileChange($event)" placeholder="Upload new photo for a car!" accept=".jpg,.jpeg,.png">
    <div><br></div>

    <button mat-raised-button color="primary" [disabled]="!isFormValid()" (click)="editCar()">Save!</button>
  </mat-card>
</div>
