
<div class="about-firm">
  Tu kiedyś będzie jakieś ładne zdjęcie :D
  <p><strong>Szukałex&nbsp;</strong> to prężnie rozwijająca się <strong>wypożyczalnią samochodów w Poznaniu</strong>. Oferujemy Państwu krótko jak również i <strong>wynajem długoterminowy</strong>. Nasza oferta wynajmu samochodów skierowana jest do osób prywatnych ale również dla firm. <strong>Wypożyczalnia</strong> Szukałex oferuje <strong>wynajem aut osobowych</strong> jak i dostawczych/użytkowych, umożliwiając zaspokojenie zróżnicowanych potrzeb każdego z naszych klientów.</p>
  <p>Prowadzimy usługi <strong>wynajmu samochodów.</strong></p>
  <p>Nasze ceny są konkurencyjne a świadczone usługi na najwyższym poziomie.</p>
  <p>Firma Szukałex Sp. z o.o. swoją ofertę kieruje szczególnie dla tych klientów którzy <strong>wynajmując samochód</strong> oczekują profesjonalnej i szybkiej obsługi. Jesteśmy do państwa dyspozycji 24h, jeżeli będzie taka potrzeba podstawimy samochód nawet o 3 w nocy.</p>
  <p>Nie żądamy od państwa zwrotu umytego samochodu kiedy na dworze jest śnieg i zawierucha co z wiadomych względów uniemożliwia oddanie czystego samochodu.</p>
  <p>Zapraszamy do współpracy również firmy. Zaufanie to dla nas podstawa, na której budujemy nasze relacje z klientami indywidualnymi oraz firmowymi. <strong>Wypożyczalnia Samochodów</strong> Szukałex stanowi synonim uczciwości, niezawodności i doświadczenia naszej firmy.</p>
</div>

