.user_profile {
  width: 1000px;
  margin: auto;
  padding: 30px;
}

.avatar {
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
