app-profile {
  .profile {
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    &_title {
      font-size: 260px;
      font-weight: 900;
    }

    &_data {

    }

    &_edit {

    }
  }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
