.photo {
  height: 260px;
  width: 390px;
  margin: 0 auto;
  align-self: center;
  flex-direction: column;
}

.car {
  width: 75%;
  margin: auto;
  padding: 15px;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.car-image {
  text-align: center;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
}

.car-details {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.car-options {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.car-actions {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-header {
  margin: auto;
  padding: 30px;
}


