@media only screen and (min-device-width: 320px) {
  .users-list {
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mobile-tab {
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
  }

  .normal-tab {
    display: none;
  }
}

@media only screen and (min-width: 1224px) {
  .users-list {
    width: 75%;
    margin: auto;
    padding: 15px;
  }

  .example-container {
  }

  .mobile-tab {
    display: none;
  }

  .normal-tab {
    display: inline;
  }
}

.example-header {
  margin: auto;
  padding: 10px;
}

.mat-form-field {
  font-size: 14px;
  margin: auto;
  width: 80%;
}


