<p>
  category-menu works!
</p>
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SEDAN">Sedan</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('CITY')">City</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SPORT')">Sport</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SUV')">Suv</button>-->
<li><a [routerLink]="['/category', 'SUV']" routerLinkActive="active" title="">SUV</a></li>
<li><a [routerLink]="['/category', 'CITY']" routerLinkActive="active" title="">CITY</a></li>
<li><a [routerLink]="['/category', 'SPORT']" routerLinkActive="active" title="">SPORT</a></li>
<li><a [routerLink]="['/category', 'SEDAN']" routerLinkActive="active" title="">SEDAN</a></li>
<router-outlet></router-outlet>
