<header class="header">


  <mat-toolbar class="mat_header">


    <button type="button" mat-button (click)="openSideNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="header__text">
      <a class="header__link" routerLink="/" routerLinkActive="active" title="Przejdź do strony głównej">
        <span><p class="header__logo"><span class="header__logoBold">Szukałex</span> wypożyczalnia samochodów</p></span>
      </a>
    </div>

    <span class="example-fill-remaining-space"></span>

    <div class="header__login" *ngIf="!userService.isUserLogged()">
      <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" title="Zaloguj">
        Zaloguj
      </button>
    </div>


    <div class="user_profile" *ngIf="userService.isUserLogged()">
      <span>Profile</span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/me" routerLinkActive="true">{{userService.user.name}}</button>
        <button mat-menu-item routerLink="/me/rents" routerLinkActive="true" *ngIf="!userService.isAdmin()">My rents
        </button>
        <button mat-menu-item routerLink="/admin" *ngIf="userService.isAdmin()" routerLinkActive="true">Admin</button>
        <button mat-menu-item routerLink="/" (click)="logout()" routerLinkActive="true">Logout</button>
      </mat-menu>
    </div>

  </mat-toolbar>


</header>

