@import "../../../variables";

.header {
  .mat_header {
    color: #fff;
    height: 60px;
    background-color: $main;
    display: flex;
    padding: 0 15px;
    &__logo {
      margin: 0;
    }
    &__link {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
    }

    &__text {
      margin: auto 0;
      color: #fff !important;
    }
  }
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

