.header {
  .toolbar-content {
    display: flex;
  }
  &__hello {
    font-weight: 300;
  }
  &__icon {
    cursor: pointer;
    margin-right: 20px;
    margin-top: auto;
    width: 25px;
    height: 25px;
  }
}