.image{
  width: 100%;
}

.img{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainImg{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;

}

.gallery .zamow {
  display: none;
}

.article h2,h3 {
  text-align: center;
}
.gallery li{
  display: inline-block;
}

@media (min-width: 51.875em) {


  .mainImg {
    display: inline-block;
    margin-left: 10px;
  }

  .img{
    height: 260px;
    width: 390px;
  }
  .gallery{
    margin: auto;
    max-width: 1200px;
  }

  .gallery div :hover{
    opacity: 0.45;
    border-radius: 70%;
  }
  .gallery li {
    position: relative;

  }
  .gallery li:hover .zamow{
    display: block;
  }

  .gallery .zamow{
    width: 390px;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    color: black;
    margin: auto;
    font-size: 20px;
    font-family: fantasy;
  }
  .gallery .imgMenu p {
    display: none;
  }

  /*.gallery li:nth-child(-2n + 24){*/
  /*display: inline-block;*/
  /*}*/
  /*.gallery li:nth-last-child(-2n + 4){*/
  /*display: inline-block;*/
  /*}*/
}

@media (max-width: 1217px) {
  .gallery{
    margin: auto;
    max-width: 800px;
  }

  /*.gallery li:nth-child(-2n + 10){*/
  /*display: inline-block;*/
  /*}*/



}
@media (max-width: 420px) {

  /*.gallery li:nth-child(-2n + 10){*/
  /*display: inline-block;*/
  /*}*/
}
