<footer class="page-footer">
  <ul class="navigation-menu">
    <li><a routerLink="/about-firm" routerLinkActive="active" title="">O firmie</a></li>
    <li><a routerLink="/xxxxx" routerLinkActive="active" title="Przegląd samochodów">Oferta</a></li>
    <li><a routerLink="/terms" routerLinkActive="active" title="Warunki wynajmu samochodu">Warunki wynajmu</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" title="Kontakt do firmy">Kontakt</a></li>
  </ul>
  <ul class="copyright">
    <li>© Copyright 2008 - 2017. All rights reserved.</li>
  </ul>
</footer>
