.login
{
  width: 100%;
  margin: auto;
  padding: 15px;
  flex-direction: column;

  .user-card {
    display: flex;
    margin: auto;

    flex-direction: column;

    .login-inside {
      flex-direction: column;
      text-align: center;
      margin: auto;

      .form-group {
        text-align: center;
        display: flex;
        padding: 5px;
      }

      .buttons {
        padding: 5px;
        margin: 0 auto;

      }
    }
  }

  .mat-header {
    margin: auto;
    padding: 30px;
  }
}

//.buttons {
//  display: flex;
//  align-items: center;
//  justify-content: space-around;
//}

h3 {
  text-align: center;
}

/*CSS do poprawy?*/
