.login
{
  width: 1000px;
  margin: auto;
  padding: 15px;
}

.mat-header {
  margin: auto;
  padding: 30px;
}

.form-group {
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.login-inside
{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

/*CSS do poprawy?*/
