.login
{
  width: 1000px;
  margin: auto;
  padding: 30px;
}

.mat-header {
  margin: auto;
  padding: 30px;
}

.login-inside
{
  align-content: center;
  width: 50%;
  height: 50%;
  margin: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

/*CSS do poprawy?*/
