<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SEDAN')">Sedan</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('CITY')">City</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SPORT')">Sport</button>-->
<!--<button type="button" class="btn red darken-1" (click)="getCarsByCategory('SUV')">Suv</button>-->
<article class="gallery">

  <li *ngFor="let car of carService.cars  " class="mainImg" >
    <div>
      <p class="zamow">
        {{brandService.brands[car.brand-1].name}} {{car.model}}<br>
        {{car.price}} zł/dzień</p>

      <a  [routerLink]="['/car', car.id]" routerLinkActive="active" title="Przejdź do strony głównej">

        <img class="img" src="{{car.defaultCarPhoto.photoUrl}}">
      </a></div>
    <div>
      <article class="imgMenu">
        <p>{{car.brand}} {{car.model}}<br>
          {{car.price}} zł/dzień</p>
      </article></div>
  </li>
</article>
<!--<button ng-click="getCarByCategory()">Say "category"!</button>-->

