/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body, input, button, select, option {
    font-family: Roboto Light;
}

html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
