<div class="filter">
  <form class="filter__form">
    <mat-form-field>
      <mat-select  [(ngModel)]="categoryType" name="categoryType" placeholder="Kategoria">
        <mat-option *ngFor="let category of categories" value="{{category}}">{{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="brand" name="brand" placeholder="Marka">
        <mat-option *ngFor="let brand of brandService.brands" value="{{brand.id}}">
          {{ brand.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="fuelType" name="fuelType" placeholder="Paliwo">
        <mat-option *ngFor="let fuel of engine.fuelType" value="{{fuel}}">{{ fuel }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-select [(ngModel)]="driveType" name="driveType" placeholder="Napęd">
        <mat-option *ngFor="let drive of engine.driveType" value="{{drive}}">{{ drive }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field [formGroup]="formGroup">
      <div>
      <input matInput type="number" formControlName="priceBiggerThan" [(ngModel)]="priceBiggerThan"
             placeholder="Cena od">
      </div>
    </mat-form-field>
    <mat-form-field [formGroup]="formGroup">
      <div>
      <input matInput type="number" formControlName="priceSmallerThan" [(ngModel)]="priceSmallerThan"
             placeholder="Cena do">
      </div>
    </mat-form-field>
    <mat-form-field [formGroup]="formGroup">
      <div>
        <input matInput type="number" formControlName="powerBiggerThan" [(ngModel)]="powerBiggerThan"
               placeholder="KM od">
      </div>

    </mat-form-field>
    <mat-form-field [formGroup]="formGroup">
      <div>
        <input matInput type="number" formControlName="powerSmallerThan" [(ngModel)]="powerSmallerThan"
               placeholder="KM do">
      </div>

    </mat-form-field>


    <div [formGroup]="formGroup">
      <mat-checkbox [(ngModel)]="hasElectricWindow"  formControlName="hasElectricWindow">Elektryczne szyby</mat-checkbox>
    <br>
      <mat-checkbox [(ngModel)]="hasNavi"  formControlName="hasNavi">Navi</mat-checkbox>
    <br>
      <mat-checkbox [(ngModel)]="hasAirConditioning"  formControlName="hasAirConditioning">Klima</mat-checkbox>
    <br>
      <mat-checkbox [(ngModel)]="hasManualGearbox"  formControlName="hasManualGearbox">Manualna skrzynia</mat-checkbox>
    <br>
      <mat-checkbox [(ngModel)]="hasSunroof"  formControlName="hasSunroof">Szyberdach</mat-checkbox>
    <br>
      <mat-checkbox [(ngModel)]="hasRadio"  formControlName="hasRadio">Radio</mat-checkbox>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput [min]="minDate"  [matDatepicker]="dateFromPicker" [(ngModel)]="dateFrom" name="dateFrom" placeholder="Od" >
      <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateFromPicker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="!dateFrom; else elseBlock"></div>
    <ng-template #elseBlock>
      <mat-form-field class="example-full-width">
        <input matInput [min]="minDate" [matDatepicker]="dateToPicker" [(ngModel)]="dateTo" name="dateTo" placeholder="Do" required>
        <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker></mat-datepicker>
      </mat-form-field>
    </ng-template>


    <button mat-raised-button color="primary" class="buttonFilter"  (click)="getFilterCars()">Filtruj</button>
  </form>

</div>

